venv/
frontend/node_modules/
nd2totiff/
TempData/
TempImages/
*.tif
*.nd2
*.gif
ph_contours/
**/__pycache__/
*.pyc
*.db
!backend/app/databases/test_database.db
*.pem
.env
backend/letsencrypt/
backend/letsencrypt/*
!experimental/U-net_Tensorflow/test_contour_label_data.db
experimental/U-net_Tensorflow/images/fluo/*.png
experimental/U-net_Tensorflow/images/ph/*.png
experimental/U-net_Tensorflow/images/predicted/*.png
!experimental/U-net_Pytorch/test_contour_label_data.db
backend/app/TimelapseParserTemp/
.DS_Store
backend/app/ph_contour*/
backend/app/TempData*/
backend/app/nd2totiff*/
webhook/