venv/
frontend/node_modules/
nd2totiff/
TempData/
TempPhImages/
*.tif
*.nd2
ph_contours/
**/__pycache__/
*.pyc
*.db
!backend/app/databases/test_database.db
*.pem
.env
backend/letsencrypt/
backend/letsencrypt/*